{% load home_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% block menu %}
<div class="footer__menu">
    {% for menuitem in menuitems %}
        <div class="footer__menu-item {% if menuitem.active %}footer__menu-item--active{% endif %}">
            <a class="footer__menu-item-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}