{% load widget_tweaks %}

<div class="form">
  <form action="{{ request.META.PATH_INFO }}#form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <a name="form"></a>
    <div class="container">
      <div class="title__h3 align--center">РАССКАЗАТЬ СВОЮ ИСТОРИЮ</div>

      {% if form %}
        <div class="article align--center italic">
          <p>Люди, которые возводили заводы и города в глухой тайге, приезжали по комсомольским путевкам на строительство БАМа, все те, кто прошел палатки и бараки, оставив нам благоустроенные города и поселки – они не должны быть забыты. Наш фонд просит всех, кому дорога память о наших ветеранах с истинно сибирским характером, добавлять в галерею новые имена и судьбы.</p>
        </div>
        {% if form.errors %}
          <div class="color--red align--center mb--32">Заполните все поля, помеченные сиволом * и исправьте ошибки.</div>
        {% endif %}
        {% with WIDGET_ERROR_CLASS='input--error' WIDGET_REQUIRED_CLASS='input--required' %}
        <div class="row">
          <div class="col--11">
            <div class="input">
              <label for="name" class="input__label">Ваше имя:</label>
              {% render_field form.name class="input__text" %}
            </div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--12">
            <div class="input">
              <label for="name" class="input__label">Почта для обратной связи</label>
              {% render_field form.email class="input__text" type="email" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col--11">
            <div class="input">
              <label for="name" class="input__label">Про кого история?</label>
              {% render_field form.who class="input__text" %}
            </div>
          </div>
          <div class="col--1">&nbsp;</div>
          <div class="col--11">
            <div class="input">
              <label for="name" class="input__label">Приложите фотографию:</label>
              <div class="input__file">Выбрать файл
                {% render_field form.photo class="input__file-input" %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col--24">
            <div class="input">
              <label for="name" class="input__label">Расскажите историю:</label>
              {% render_field form.history class="input__textarea" rows="7" %}
            </div>
            <button type="submit" class="input__button">Отправить</button>
          </div>
        </div>
        {% endwith %}
      {% else %}
        <div class="align--center title__h4">
          Благодарим за внимание! Форма успешно отправлена. После проверки редактором, мы опубликуем вашу историю.
        </div>
      {% endif %}
    </div>
  </form>
</div>