{% load wagtailcore_tags wagtailimages_tags home_tags %}

<div class="carousel mb--60">
  <div class="carousel__inner">
    {% for line in items|grouper:4 %}
      <div class="row">
        {% for item in line %}
          {% if item %}
          <div class="col--6">
            {% include './blocks/news-block.html' with item=item is_white=is_white %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>