{% load thumbnail %}

{% if items %}
	<div class="gallery mb--32" data-voted="{{ voted }}">
		{% for i in items %}
		  <div class="gallery__item" data-id="{{i.pk}}" data-autor="Автор: {{i.name}}" data-src="/media/{{ i.main_image }}">
		  	<div class="gallery__item-hover">
	          <div class="gallery__item-hover-inner">
	            {% if voted %}
	            	<span class="gallery__item-voted">Вы уже проголосовали!</span>
	            {% else %}
	            	<a href="#" class="gallery__item-vote" data-id="{{ i.pk }}">Голосовать</a>
	            {% endif %}
	            <div class="gallery__item-title">Автор: {{i.name}}</div>
	            <div class="gallery__item-zoom" data-src="/media/{{ i.main_image }}"></div>
	          </div>
	        </div>

		  	<img src="{% thumbnail i.main_image 500x230 %}" class="gallery__img">
		  </div>
		{% endfor %}
	</div>
{% else %}
	<h4 class="title__h4 title--white">Ждем добавления фотографий!</h4>
{% endif %}