{% load wagtailcore_tags wagtailimages_tags humanize pytils_dt home_tags %}

<div class="news-block">
  <div class="container">
    <!-- <div class="title__h2 pull--left">НОВОСТИ</div> -->

    {% if not main_news and not ribbon and not items %}
    <div class="title__h4">К сожалению, новостей в этом ргеионе нет.</div>
    {% endif %}

    <div class="row">
      <div class="col--10">

          <div class="indexlogo__logo">
            <div class="indexlogo__title"><span class="indexlogo__title-siberia">СИБИРСКИЙ</span> ХАРАКТЕР</div>
            <div class="indexlogo__subtitle">Благотворительный фонд Андрея Чернышёва</div>
          </div>
          
        {% if main_news %}
          {% include './blocks/news-block.html' with item=main_news big=True %}
        {% endif %}
      </div>
      <div class="col--1">&nbsp;</div>
      <div class="col--13">

        <div class="row">
          <div class="col--14">
            {% include './blocks/social.html' %}&nbsp;
          </div>
          <!-- div class="col--10">
            <a href="{% slugurl 'kandidaty-na-granty' %}" class="button">
              Номинанты проекта «Молодая смена»
            </a>
          </div -->
          <div class="col--8">
            <div class="indexlogo__links">
              <a href="{% slugurl 'fotokonkurs' %}" class="indexlogo__links-item">Фотоконкурс</a>
              <a href="{% slugurl 'proekty' %}" class="indexlogo__links-item">Проекты</a>
              <a href="{% slugurl 'istoriya-fonda' %}" class="indexlogo__links-item">История фонда</a>
            </div>
          </div>
        </div>

        <div class="selectbox news-block__selectbox">
          <select class="selectbox__input js-selectregion" name="region">
            {% if request.GET.region and request.GET.region != '0' %}
              <option value="0">Все районы</option>
              {% for i in regions %}
              <option value="{{ i.pk }}" {% if request.GET.region == i.pk|lower %}selected{% endif %}>{{ i.title }}</option>
              {% endfor %}
            {% else %}
              <option value="0" selected>Все регионы</option>
              {% for i in regions %}
              <option value="{{ i.pk }}">{{ i.title }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>

        <div class="news-block__list">
          <div class="news-block__list-inner">
            {% for i in ribbon %}
            <div class="news-block__list-item">
              <div class="news-block__list-item-date news-block__date">
                {% if i.is_today %}
                  {{ i.first_published_at|date:'G:i'|lower }}
                {% else %}
                  {{ i.first_published_at|ru_strftime_inflected:"%d %B, %H:%M" }}
                {% endif %}
              </div>
              {% if i.is_foundation %}
                <a href="{% pageurl i %}" class="news-block__list-item-content news-block__list-item-content--bold">
                  <span class='news-block__list-item--mark'>ФОНД</span> {{ i.title }}</a>
              {% else %}
                <a href="{% pageurl i %}" class="news-block__list-item-content">{{ i.title }}</a>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      {% for i in items %}
        <div class="col--6">
          {% include './blocks/news-block.html' with item=i %}
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% if rubric_items|length > 0 %}
  <div class="destiny-block mb--40 pt--40">
    <div class="container">
      <h2 class="title__h2 mt--24">Новости рубрик</h2>
      {% for line in rubric_items|grouper:4 %}
      <div class="row">
        {% for i in line %}
          <div class="col--6">
          {% if i %}
            <h4 class="title__h4 title--plate"><a href="{% slugurl 'novosti' %}?rubric={{i.rubric.pk}}" class="color-green">{{ i.rubric.title }}</a></h4>
            {% include './blocks/news-block.html' with item=i %}
          {% endif %}
          </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}