{% load static wagtailcore_tags home_tags %}

<div class="material-block">
  <div class="container">
    <div class="row">
      <div class="col--24">
    <div class="title__h2 title--white align--center"><a href="{% slugurl 'gazeta' %}">ГАЗЕТА «СИБИРСКИЙ ХАРАКТЕР»</a></div>
    <br>
    <div class="material-block__list">
      <div class="row">
        <a href="{% slugurl 'gazeta' %}" class="material-block__list-item material-block__list-item--fund">
          <div class="material-block__list-item-cat">Благотворительность</div>
          <div class="material-block__list-item-logo"><img src="{% static './img/fund-logo--2.png' %}"></div>
          <div class="material-block__list-item-title">Благотворительный фонд </div>
          <div class="material-block__list-item-mega">«СИБИРСКИЙ ХАРАКТЕР»</div>
        </a>
        {% for item in items|slice:":3" %}
          {% include './blocks/material-block.html' with item=item request=request %}
        {% endfor %}
      </div>

      <div class="row">
        {% for item in items|slice:"3:7" %}
          {% include './blocks/material-block.html' with item=item request=request %}
        {% endfor %}
      </div>

      <div class="row">
        {% for item in items|slice:"7:9" %}
          {% include './blocks/material-block.html' with item=item request=request %}
        {% endfor %}
        <a href="{% slugurl 'founder' %}" class="material-block__list-item material-block__list-item--candidate">
          <div class="material-block__list-item-inner">
            <div class="material-block__list-item-img"><img src="{% static './img/candidate-photo--1.png' %}"></div>
            <div class="material-block__list-item-title">Андрей Владимирович Чернышёв</div>
            <div class="material-block__list-item-subtitle">Основатель фонда и газеты</div>
            <div class="material-block__list-item-quote">{{ person.quote }}</div>
          </div>
        </a>
      </div>
    </div>

      </div>
    </div>  
  </div>
</div>