{% load wagtailcore_tags wagtailimages_tags %}

<div class="destiny-block">
  <div class="container">
    <div class="carousel destiny-block__carousel"><a href="#" class="destiny-block__arrow"></a>
      <div class="carousel__inner">
        {% for i in items %}
        <div class="destiny-block__item">
          <div class="row">
            <div class="col--4 shift--3">
              <div class="destiny-block__item-left">
                <div class="title__h3"><a href="{% slugurl 'sudby' %}">Судьбы</a></div>
              </div>
            </div>
            <div class="col--5">
              <a href="{% pageurl i %}" class="destiny-block__item-img">
                {% image i.main_image fill-300x300 %}
              </a>
            </div>
            <div class="col--8">
              <div class="destiny-block__item-right"><a href="{% pageurl i %}">
                <div class="title__h3 title__h3--noupper">{{ i.title }}</div></a>
                <p>{{ i.description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>