{% load home_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% block menu %}

<div class="header__menu" {% if calling_page.slug == 'home' %}style="text-align: left"{% endif %}>
    {% for menuitem in menuitems %}
        <div class="header__menu-item {% if menuitem.active %}header__menu-item--active{% endif %}">
            <a class="header__menu-item-link" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            
            {% if menuitem.show_dropdown and menuitem.active %}
            <div class="header__menu-subitems">
                {% top_menu_children parent=menuitem %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}