{% load widget_tweaks %}

<form action="{{ request.META.PATH_INFO }}#form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <a name="form"></a>

  {% if form %}
    <div class="row">
      <div class="col--12">

        {% if form.errors %}
          <div class="color--red align--center mb--32">Заполните все поля, помеченные сиволом * и исправьте ошибки.</div>
        {% endif %}
        {% with WIDGET_ERROR_CLASS='input--error' WIDGET_REQUIRED_CLASS='input--required' %}
            <div class="input">
              <label for="name" class="input__label">Ваше имя:</label>
              {% render_field form.name class="input__text" %}
            </div>
            <div class="input">
              <label for="name" class="input__label">Почта для обратной связи</label>
              {% render_field form.email class="input__text" type="email" %}
            </div>
            <div class="input">
              <label for="name" class="input__label">Про что фотография:</label>
              {% render_field form.history class="input__textarea" rows="7" %}
            </div>
            <button type="submit" class="input__button">Отправить</button>
        {% endwith %}
      </div>
      <div class="col--11 shift--1">
        <div class="input mb--32">
          <label for="name" class="input__label">Приложите фотографию:</label>
          <div class="input__file">Выбрать файл
            {% render_field form.photo class="input__file-input" %}
          </div>
        </div>

        <h3 class="title title__h4">Требования к фотографии:</h3>
        <ul class="list">
          <li class="list__item">Формат файла: JPG, PNG;</li>
          <li class="list__item">Разрешение изображения: 300 dpi;</li>
          <li class="list__item">Принимаются фотографии как вертикальной,  так и горизонтальной ориентации;</li>
          <li class="list__item">Размер файла не превышать 10 Мб;</li>
        </ul>
      </div>
    </div>
  {% else %}
    <div class="align--center title__h4">
      Благодарим за внимание! Форма успешно отправлена. После проверки редактором, мы опубликуем вашу фотографию.
    </div>
  {% endif %}


</form>