{% load home_tags %}
<div class="title__h3">ЧИТАЙТЕ ТАКЖЕ</div>
<div class="carousel mb--60">
  <div class="carousel__inner">
    {% for line in items|grouper:3 %}
  	<div class="row">
      {% for i in line %}
      	{% if i %}
        	{% include './blocks/material-block.html' with item=i request=request %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>