{% load home_tags %}
<div class="title__h3">ЧИТАЙТЕ ТАКЖЕ</div>
<div class="carousel mb--60">
  <div class="carousel__inner">
    {% for line in items|grouper:4 %}
  	<div class="row">
      {% for i in line %}
      	{% if i %}
	      	<div class="col--6">
	        	{% include './blocks/news-block.html' with item=i request=request %}
	    		</div>
    		{% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>