{% load home_tags wagtailcore_tags %}

{% for child in menuitems_children %}
	{% if child.url == request.path_info %}
    <a class="header__menu-subitems-item header__menu-subitems-item--active" href="{% pageurl child %}">{{ child.title }}</a>
	{% else %}
    <a class="header__menu-subitems-item" href="{% pageurl child %}">{{ child.title }}</a>
    {% endif %}
{% endfor %}
