
// vars
$color-green = #4CB688
$color-blue = #61C4E9
$color-dark = #2D3230
$color-title = #204133
$color-red = #dd470d

// mixins
placeholder()
    if selector() == "&"
        error( "placeholder() must be called from a ruleset!" )
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
        
grayscale-img()
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  filter: grayscale(100%)
  filter: gray

  transition filter .28s ease
  transition -webkit-filter .28s ease

colored-img()
  -webkit-filter: grayscale(0%)
  -moz-filter: grayscale(0%)
  -ms-filter: grayscale(0%)
  -o-filter: grayscale(0%)
  filter: grayscale(0%)


// grid system
.container
    transition all 1s
    center(max-width: 1200px, pad: 50px)

    @media (max-width: 1020px) {
        padding-left: 30px
        padding-right: 30px
    }

.row
  cf()

for i in (1..24)
  .col--{i}
    column(i/24, gutter: 2)

    @media (max-width: 768px)
      stack()

  .shift--{i}
    margin-left unit(100/24 * i, '%') !important

    @media (max-width: 768px)
      margin-left 0 !important

// helpers
.pull
  &--left
    float left

  &--right
    float right
  
.clearfix
  clear both
  

for i in (8 10 12 14 16 18 20 24 32 40 48 56)
  .fz--{i}
    font-size i + 0px
    
for i in (0 4 8 16 24 32 40 48 60 80)
  .mb--{i}
    margin-bottom i + 0px

  .mt--{i}
    margin-top i + 0px

  .ml--{i}
    margin-left i + 0px

  .mr--{i}
    margin-right i + 0px
    
.align
  &--center
    text-align center
    
  &--left
    text-align left
    
  &--right
    text-align right

// цвета
.color--gray
  color #999
  
.color--red
  color lighten(#B65D4C, 20%)
  
.italic
  font-style italic