{% load wagtailcore_tags wagtailimages_tags pytils_numeral home_tags %}

<div class="news-block__item news-block__item--noimage">

  {% if item.photo %}
    <a href="{% pageurl item %}" class="news-block__item-img">{% image item.photo fill-350x200 %}</a>
  {% endif %}

  <div class="mb--8">
    <a href="{% pageurl item %}" class="news-block__lead">
    	{{ item.title }}
    </a>
  </div>
  {% if request|in_session:item.pk %}
    <!-- span class="news-block__item-vote-result">{{item.votes|get_plural:"голос,голоса,голосов,нет голосов"}}</span -->
    <span class="news-block__item-vote-result">Вы проголосовали</span>
  {% else %}
    <a href="#" class="news-block__item-vote js-news-block__item-vote" data-pk="{{ item.pk }}">
      <span class="news-block__item-vote-icon"></span>
      Голосовать
    </a>
  {% endif %}
</div>