{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% pageurl item %}" class="news-block__item  {% if is_white %}news-block__item--white{% endif %} {% if big %}news-block__item--big{% endif %}">
  <div class="news-block__item-img">{% image item.main_image fill-350x200 %}</div>
  <div class="news-block__lead">
    {{ item.title }}
  </div>
  <div class="news-block__date">
    {{ item.description}}
  </div>
</a>