{% load home_tags static wagtailcore_tags %}

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col--12">
        <div class="footer__fund"> 
          <div class="footer__fund-title">
            Сибирский Характер
            <div class="footer__fund-title-mini">Благотворительный фонд «ФОНД РЕГИОНАЛЬНОГО РАЗВИТИЯ»</div>
          </div>
          <div class="footer__fund-items">
            <!-- a href="{% slugurl 'deyatelnost' %}" class="footer__fund-items-item">Текущая деятельность</a -->
            <a href="{% slugurl 'proekty' %}" class="footer__fund-items-item">Проекты</a>
            <a href="{% slugurl 'istoriya-fonda' %}" class="footer__fund-items-item">История фонда</a>
          </div>
        </div>
      </div>
      <div class="col--12"><a href="{% slugurl 'founder' %}" class="footer__founder">
          <div class="footer__founder-photo"><img src="{% static './img/candidate-photo--2.png' %}"></div>
          <div class="footer__founder-name">Андрей Владимирович Чернышёв</div>
          <div class="footer__founder-subtitle">Основатель фонда и газеты</div></a></div>
    </div>
  </div>
  <div class="footer__splitter"></div>
  <div class="container">
    <div class="row">
      <div class="col--11">
        <div class="footer__copyright">2016, Благотворительный фонд<br>«Фонд регионального развития»</div>
        <div class="footer__organization">Зарегистрирован 14.01.2005г. Номер регистрации 38 №001896121</div>
      </div>
      <div class="col--1">&nbsp;</div>
      <div class="col--6">
        {% get_site_root as site_root %}
        {% bottom_menu parent=site_root calling_page=self  %}
      </div>
      <div class="col--6">
        <div class="footer__title">Контакты</div>
        <p class="fz--12 mb--8"><a href="mailto:zs11okrug@mail.ru">zs11okrug@mail.ru</a></p>
        <p class="fz--12">664025, г. Иркутск, ул. Степана Разина, 42, оф.1.</p><br>
        {# include './blocks/social.html' #}
        </div>
      </div>
    </div>
  </div>
</div>