{% load static wagtailcore_tags %}

<div class="fund-block__grants">
  <a href="{% slugurl 'proekty' %}#step-2" class="fund-block__grants-item">
    <div class="fund-block__grants-item-inner">
      <div class="fund-block__grants-item-title">Сильное поколение</div>
      <div class="fund-block__grants-item-img"><img src="{% static './img/grant--1.jpg' %}"></div>
    </div>
  </a>
  <a href="{% slugurl 'proekty' %}#step-3" class="fund-block__grants-item">
    <div class="fund-block__grants-item-inner">
      <div class="fund-block__grants-item-title">Наше достояние</div>
      <div class="fund-block__grants-item-img"><img src="{% static './img/grant--2.png' %}"></div>
    </div>
  </a>
  <a href="{% slugurl 'proekty' %}#step-1" class="fund-block__grants-item">
    <div class="fund-block__grants-item-inner">
      <div class="fund-block__grants-item-title">Шаг в будущее</div>
      <div class="fund-block__grants-item-img"><img src="{% static './img/grant--3.jpg' %}"></div>
    </div>
  </a>
</div>