{% load home_tags %}
<div class="header">
  <div class="container">
    {% if request.META.PATH_INFO != '/' %}
    <div class="header__logo">
      <a href="/" class="header__logo-link"><span class="header__logo-link-siberia">СИБИРСКИЙ</span> ХАРАКТЕР</a>
    </div>
    {% endif %}
    <div class="header__search">
      <form action="{% url 'search' %}" method="GET">
        <input type="search" placeholder="Поиск по сайту" name="query" class="header__search-input">
        <div class="header__search-icon"></div>
      </form>
    </div>
    {% get_site_root as site_root %}
    {% pages_menu parent=site_root calling_page=self  %}
  </div>
  <div class="clearfix"></div>
</div>