{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% pageurl item %}" class="material-block__list-item">
  <div class="material-block__list-item-cat">{{ item.rubric.title }}</div>
  <div class="material-block__list-item-lead">{{ item.title }}</div>
  <div class="material-block__list-item-img">{% image item.main_image fill-380x380 %}</div>
</a>