{% load wagtailcore_tags wagtailimages_tags pytils_dt %}

<a href="{% pageurl item %}" class="news-block__item 
                                    {% if is_white %}news-block__item--white{% endif %} 
                                    {% if big %}news-block__item--big{% endif %}
                                    {% if not item.main_image %}news-block__item--noimage{% endif %}">
  {% if item.is_foundation %}
    <div class="label news-block__item-label">ФОНД</div>
  {% endif %}

  {% if item.main_image %}
    <div class="news-block__item-img">{% image item.main_image fill-350x200 %}</div>
  {% endif %}
  
  <div class="news-block__date">{{ item.first_published_at|ru_strftime_inflected:"%d %B, %H:%M" }}</div>
  <div class="news-block__lead">
  	{{ item.title }}
  </div>
</a>