{% if items.paginator.num_pages > 1 %}
<div class="paging">
    {% if items.has_previous %}
    	<a href="?page={{ items.previous_page_number }}" class="paging__item">←</a>
		{% endif %}

		{% for i in items.paginator.page_range %}
			<a href="?page={{ i }}" class="paging__item {% if active_page == i|lower %}paging__item--active{% endif %}">{{i}}</a>
		{% endfor %}

    {% if items.has_next %}
    	<a href="?page={{ items.next_page_number }}" class="paging__item">→</a>
    {% endif %}
</div>
{% endif %}