{% load wagtailsettings_tags %}
{% get_settings %}
<div class="social">
	<div class="social__title">Мы в соцсетях:</div>
	<div class="social__items">
		<a href="{{ settings.home.SiteSettings.found_ok }}" class="social__item social__item--ok"></a>
		<a href="{{ settings.home.SiteSettings.found_vk }}" class="social__item social__item--vk"></a>
		<a href="{{ settings.home.SiteSettings.found_fb }}" class="social__item social__item--fb"></a>
	</div>
</div>