{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Поиск по сайту{% endblock %}

{% block content %}
<div class="container">
    <div class="title__h1 title--nomargin">Поиск по сайту</div>
    <br>

    <div class="form mb--60">
        <form action="{% url 'search' %}" method="get" class="mr--40 ml--40">
            <div class="row">
                <div class="col--20">
                    <div class="input input--no-margin">
                        <input type="text" name="query"
                                placeholder="Введите поисковый запрос..."
                                {% if search_query %} value="{{ search_query }}"{% endif %} class="input__text">
                    </div>
                </div>
                <div class="col--4">
                    <button class="input__button input__button--w50">Искать</button>
                </div>
            </div>
        </form>
    </div>

    {% if search_results %}
        <h4 class="title__h3">Результаты поиска</h4>

        <ol>
        {% for result in search_results %}
            <li>
                <h3 class="title__h4"><a href="{% pageurl result %}">{{ result }}</a></h3>
                {% if result.search_description %}
                    {{ result.search_description|safe }}
                {% endif %}
            </li>
        {% endfor %}
        </ol>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
        <div class="mb--60" />
    {% elif search_query %}
        <h4 class="title__h4">По вашему запросу ничего не найдено(</h4>
        <div class="mb--60" />
    {% endif %}
    
</div>
{% endblock %}
