{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block content %}
<div class="container">
	<div class="title__h1">{{ self.title }}</div>

	<div class="row">
	  <div class="col--20 shift--2">
	    <div class="article">
	    	{{ self.content|richtext }}
    	</div>
  	</div>
	</div>

</div>
{% endblock %}