{% extends 'base.html' %}
{% load home_tags wagtailcore_tags %}

{% block content %}
<div class="container mb--60">
	<div class="title__h1">{{ self.title }}</div>
	{% csrf_token %}

	{% if self.content %}
		<div class="row">
		  <div class="col--20 shift--2">
		    <div class="article">
		    	{{ self.content|richtext }}
	    	</div>
	  	</div>
		</div>
  {% endif %}

  {% if items %}
    {% for line in items|grouper:4 %}
	  	<div class="row">
	      {% for i in line %}
	      	<div class="col--6 mb--32">
	      	{% if i %}
	        	{% include './blocks/applicant-block.html' with item=i request=request %}
	        {% endif %}
	    	</div>
	      {% endfor %}
	    </div>
    {% endfor %}

    {% include './blocks/paginator.html' with items=items %}
  {% else %}
  	<div class="title__h4">К сожалению, новостей не найдено.</div>
  {% endif %}
</div>
{% endblock %}