{% extends 'base.html' %}
{% load wagtailcore_tags static home_tags %}

{% block body_attr %}class="black_bg"{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">

      <div class="col--24">
        <div class="title__h1 title__h1--big title--white">
          ФОТОКОНКУРС<br>
          <small> НА САМУЮ ДОБРУЮ ФОТОГРАФИЮ</small>
        </div>
      </div>

    </div>  

    <div class="row">

      <div class="col--12">
        <ul class="list list--contest">
          <li class="list__item">Фотоконкурс продлится до <strong>5 августа</strong></li>
          <li class="list__item">Победителя ждет приз в размере <div class="list__item--bold">10 000<span class="rouble-sign">Р</span></div></li>
          <li class="list__item">Голосуй за понравившееся фото!</li>
        </ul>
        <a href="{% slugurl 'prinyat-uchastie-v-konkurse' %}" class="input input__button mb--8 ml--40 mr--8">Принять участие</a><br>
      </div>

      <div class="col--12">
        <img src="{% static './img/contest-illustration.png' %}" class="mt---56">
      </div>

    </div>  
    <div class="row">

      <div class="col--24">
        <div class="title__h2 title--white">РАБОТЫ УЧАСТНИКОВ</div>

          {% get_photos %}
        </div>

      </div>

    </div>  


  </div>  
{% endblock %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.gallery').removeWhitespace().collagePlus({
        'targetHeight': 250,
        'effect': 'effect-1'
      });

      $('.gallery').on('click', '.gallery__item-vote', function(){
        return false;
      })

      $('.gallery__item-vote').click(function(){
        $obj = $(this);

        $.post('/photo_vote/', {pk: $(this).data('id')}, function(data){
          if (data.status == true) {
            $obj.before(voted);
            $('.gallery').data('voted', 1)
            $obj.remove();
          } else {
            alert('Произошла ошибка при отправке запроса');
          }
        })
      })
      $('.gallery__item').hover(function(){
        $(this).find('.gallery__item-hover').css('opacity', 1)
      }, function(){
        $('.gallery__item-hover').css('opacity', 0)
      });

      $(".gallery").lightGallery({
        selector: '.gallery__item-zoom'
      }); 
    })
  </script>
{% endblock %}