{% extends 'base.html' %}
{% load wagtailcore_tags static home_tags widget_tweaks %}

  {% block content %}
  <div class="container mt--60">
    <div class="title__h1 title__h1--big">ПРИНЯТЬ УЧАСТИЕ <br>В КОНКУРСЕ</div>

    <div class="mb--40">
      {% photo_form %}
    </div>

  </div>
{% endblock %}