{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
	<div class="title__h1">{{ self.title }}</div>

	<div class="row">
	  <div class="col--20 shift--2">
	    <div class="article">
    	</div>
	    	{{ self.intro|safe }}
    	{% if items %}
    		<h2 class="title__h2">Отзывы наших читателей</h2>
	    	{% for i in items %}
		    	<div class="feedback__item mb--24">
		    		<div class="italic color--gray">{{ i.name }}</div>
		    		<div class="">{{ i.content }}</div>
		    	</div>
	    	{% endfor %}
    	{% endif %}
	  </div>
	</div>
</div>

<div class="form">
  <form action="{{ request.META.PATH_INFO }}#form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <a name="form"></a>
    <div class="container">

      <div class="row">
        <div class="col--14 shift--5">
    			<h2 class="title__h3">Напишите свой отзыв</h2>
        </div>
      </div>
    	{% with WIDGET_ERROR_CLASS='input--error' WIDGET_REQUIRED_CLASS='input--required' %}
    	{% for i in form %}
	      <div class="row">
	        <div class="col--14 shift--5">
	          <div class="input">
	          	<label for="{{ i.name }}" class="input__label">{{ i.label }}</label>
	          	{% if i.field.widget.input_type == 'text' %}
	            	{% render_field i class="input__text" %}
            	{% else %}
            		{% render_field i class="input__textarea" %}
	            {% endif %}
	          </div>
	        </div>
	      </div>
      	{% endfor %}
      {% endwith %}

	    <div class="row">
	      <div class="col--14 shift--5">
	        <div class="input">
	          {% render_field form.history class="input__textarea" rows="7" %}
	        </div>
	        <button type="submit" class="input__button">Отправить</button>
	      </div>
	    </div>
    </div>
  </form>
</div>

{% endblock %}