{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags home_tags %}

{% block content %}
<div class="destiny mt--60">
  <div class="container">
    <div class="title__h1 title--margin-20 align--center">Судьбы</div>
    <div class="row mb--24">
      <div class="col--24">
      	{% image self.main_image max-1200x1000 class="destiny__img" %}

      	<div class="row">
      		<div class="col--6">
		      	{% if self.get_prev_sibling %}
		      	<a href="{% pageurl self.get_prev_sibling %}" class="destiny__prev">← {{self.get_prev_sibling.title }}</a>
		      	{% endif %}&nbsp;
      		</div>
      		<div class="col--12 align--center">
		        <div class="title__h3 title--nomargin">{{ self.title }}</div>
		        <br>
		        <p class="color--gray align--center">{{ self.description }}</p>
      		</div>
      		<div class="col--6">
		      	&nbsp;{% if self.get_next_sibling %}
		      	<a href="{% pageurl self.get_next_sibling %}" class="destiny__next">{{self.get_next_sibling.title}} →</a>
		      	{% endif %}
		      </div>
      	</div>

      </div>
    </div>
    <div class="row">
      <div class="col--20 shift--2">
        <div class="article">
        	{{ self.content|richtext }}
        </div>
      </div>
    </div>
  </div>

  {% destiny_form %}
</div>
{% endblock %}