{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="container mb--60">
	<div class="title__h1">{{ self.title }}</div>
      
    {% if items %}
      {% for line in items|grouper:3 %}
    	<div class="row">
        {% for i in line %}
        	<div class="col--8 mb--32">
        	{% if i %}
          	{% include './blocks/destiny-block.html' with item=i request=request big=True %}
          {% endif %}
      	</div>
        {% endfor %}
      </div>
      {% endfor %}

      {% include './blocks/paginator.html' with items=items %}
    {% else %}
      <div class="title__h4">К сожалению, записей не найдено.</div>
    {% endif %}
</div>
{% endblock %}