{% extends 'base.html' %}
{% load static home_tags %}

{% block content %}
<div class="container">
  <div class="title__h1">{{ self.seo_title }}</div>
  <div class="row mb--20">
    <div class="col--15 shift--2">
      <div class="article">
        {{ self.content|safe }}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col--20 shift--2">

      <div class="title__h3">БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ</div>
      {% include './blocks/grant-tizer.html' %}

      <div class="title__h3">Текущая деятельность фонда</div>
      {% get_found_news %}
      
    </div>
  </div>

</div>
{% endblock %}