{% extends 'base.html' %}
{% load wagtailcore_tags static home_tags %}

{% block content %}

{% get_index_news %}

<!-- <div class="container">
  <a href="{% slugurl 'fotokonkurs' %}">
    <div class="banner">
      <img src="{% static 'img/contest-banner.png' %}">
    </div>
  </a>
</div> -->

{% get_index_materials %}

{% get_index_destiny %}

{% with a='123'|random %}<div class="fund-block" style="background-image: url({% static './img/fund-bg--'|add:a|add:'.png' %})">{% endwith %}
  <div class="container">
    <div class="row">
      <div class="col--4 shift--2"><img src="{% static './img/fund-logo--1.png' %}"></div>
      <div class="col--16">
        <div class="title__h2 title--white"><a href="{% slugurl 'foundation' %}">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД «СИБИРСКИЙ ХАРАКТЕР»</a></div>
      </div>
    </div><br>

    <div class="row">
      <div class="col--20 shift--2">
        
        <div class="title__h3 title--opacity title--white">БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ</div>
        {% include './blocks/grant-tizer.html' %}


        <div class="title__h3 title--opacity title--white">Текущая деятельность фонда</div>
        {% get_found_news is_white=True %}

      </div>
    </div>
  </div>
</div>

{% endblock %}