{% extends 'base.html' %}
{% load home_tags %}

{% block content %}
<div class="container mb--60">
	<div class="title__h1">{{ self.title }}</div>
    
  {% if items %}
    {% for line in items|grouper:4 %}
  	<div class="row">
      {% for i in line %}
      	{% if i %}
        	{% include './blocks/material-block.html' with item=i request=request %}
        {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

    {% include './blocks/paginator.html' with items=items %}
  {% else %}
    <div class="title__h4">К сожалению, новостей не найдено.</div>
  {% endif %}
</div>
{% endblock %}