{% extends 'base.html' %}
{% load wagtailcore_tags home_tags %}

{% block content %}
<div class="container mt--60">
  {% if self.region %}
  <div class="row mb--16">
    <div class="col--22 shift--2"><span class="label">{{ self.region.title }}</span></div>
  </div>
  {% endif %}
  <div class="title__h1">{{ self.title }}</div>
  <div class="row">
    <div class="col--15 shift--2">
      <div class="article">
      	{{ self.content|richtext }}
      </div>
      <div class="meta mb--60">
        {% if self.autor %}<div class="color--gray mb--4">Автор: <strong class="bold">{{ self.autor}}</strong></div>{% endif %}
        {% if self.source %}<div class="color--gray">Источник: <strong class="bold">{{ self.source }}</strong></div>{% endif %}
      </div>
    </div>
  </div>
  {% get_recommend_news exclude=self %}
</div>
{% endblock %}