{% extends 'base.html' %}
{% load static wagtailcore_tags wagtailsettings_tags %}

{% block content %}
<div class="container">
	<div class="person mb--40">
	  <div class="row mb--60">
	    <div class="col--8"><img src="{% static './img/candidate-photo--3.png' %}" class="person__img"></div>
	    <div class="col--14">
	      <div class="person__quote">{{self.quote}}</div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col--4">
	      <!-- div class="social">
	        <div class="social__title">В соцсетях:</div>
	        <div class="social__items">
	        	<a href="{{ settings.home.SiteSettings.candidate_ok }}" class="social__item social__item--ok"></a>
	        	<a href="{{ settings.home.SiteSettings.candidate_vk }}" class="social__item social__item--vk"></a>
	        	<a href="{{ settings.home.SiteSettings.candidate_fb }}" class="social__item social__item--fb"></a>
	        </div>
	      </div-->&nbsp;
	    </div>
	    <div class="col--17">
	      <div class="person__name title__h1">АНДРЕЙ  ВЛАДИМИРОВИЧ ЧЕРНЫШЁВ</div>
	      <div class="person__post color--gray">Основатель благотворительного фонда «Сибирский характер»</div>
	      <div class="article">
	      	{{ self.content|richtext }}
	      </div>
	    </div>
	  </div>
	</div>
</div>
{% endblock %}