{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="title__h1">{{ self.title }}</div>

	<div class="row">
	  <div class="col--20 shift--2">
	    <div class="article">
	    	{{ self.content|safe }}
    	</div>
  	</div>
	</div>
</div>
{% endblock %}