doctype html
html
    head
        meta(charset='utf-8')
        link(href='./css/screen.css', type="text/css", rel="stylesheet")
        title Сибирский характер
    body
        .header
            .container
                .header__logo 
                    a(href='#').header__logo-link <span class="header__logo-link-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» 

                .header__search
                    input.header__search-input(type="search", placeholder="Поиск по сайту")
                    .header__search-icon

                .header__menu
                    - var items = ['Новости', 'Газета', 'Благотворительный фонд', 'Судьбы', 'Друзья', 'Контакты']
                    for i in items
                        if i == 'Благотворительный фонд'
                            .header__menu-item.header__menu-item--active
                                a(href='#').header__menu-item-link= i

                                .header__menu-subitems
                                    for s in ['История фонда', 'Проекты', 'Текущая деятельность', 'Архив проектов', 'Основатель фонда',]
                                        a(href="#").header__menu-subitems-item= s
                        else
                            .header__menu-item
                                a(href='#').header__menu-item-link= i
            .clearfix

        .content
            block content

        .footer
            .container
                .row
                    .col--12
                        .footer__fund 
                            .footer__fund-title БЛАГОТВОРИТЕЛЬНЫЙ ФОНД<br/>«НАШ СИБИРСКИЙ ХАРАКТЕР»
                            .footer__fund-items 
                                a(href='#').footer__fund-items-item Текущая деятельность
                                a(href='#').footer__fund-items-item Проекты
                                a(href='#').footer__fund-items-item История фонда
                    .col--12
                        a(href='#').footer__founder
                            .footer__founder-photo
                                img(src='./img/candidate-photo--2.png')
                            .footer__founder-name Андрей Владимирович Чернышёв
                            .footer__founder-subtitle Основатель фонда и газеты
            .footer__splitter
            .container
                .row
                    .col--11
                        .footer__copyright © 2016, Общественно-политическая газета<br>«Сибирский характер»
                        .footer__organization Учредитель: «Благотворительныий фонд «Сибирский характер».
                        .footer__organization Газета зарегистрирована Управлением федеральноий службы по надзору в сфере связи, информационных технологий и массовых коммуникаций по Иркут- ской области. Св-во о регистрации ПИ No ФС13-0243 от 15. 03. 2005 г. Главныий редактор С.М. Маслаков.
                    .col--1 &nbsp;
                    .col--6
                        .footer__menu
                            - var footer_items = ['Новости', 'Газета', 'Благотворительный фонд', 'Судьбы', 'Партнеры', 'Контакты']
                            for i in footer_items
                                .footer__menu-item
                                    a(href='#').footer__menu-item-link= i
                    .col--6
                        .footer__title Контакты
                        p.fz--12.mb--8
                            a(href="zs11okrug@mail.ru") zs11okrug@mail.ru

                        p.fz--12 664025, г. Иркутск, ул. Степана Разина, 42, оф.1.
                        br

                        .footer__title Мы в соцсетях
                        .social
                            .social__items
                                a(href='#').social__item.social__item--ok
                                a(href='#').social__item.social__item--vk
                                a(href='#').social__item.social__item--fb

        script(src='./js/index.js')