extends _layout

block content
    .container.mt--60
        .row.mb--16
            .col--22.shift--2
                a(href='#').label Портрет

        .title__h1 ТАНКОВЫЙ БИАТЛОН ГЕННАДИЯ ТЕРЯЕВА 

        .row
            .col--15.shift--2
                .article
                    p Танковый биатлон развивается в России семимильными шагами. Позади три чемпионата мира, и с каждым годом стран-участников становится больше. Если на пер- вом чемпионате, состоявшемся в 2013 году, соревновались четыре команды (Россия, Казахстан, Бело- руссия, Армения), то в 2015-м их было уже 13. А проходят чемпиона- ты в рамках Армейских международных игр. 

                    p Яркое зрелище ежегодно со- бирает на трибунах тысячи бо- лельщиков. Россия в последние несколько лет доказала, что может организовать любое событие на высшем уровне. Достаточно вспомнить Евровидение, Олимпиаду в Сочи, Универсиаду. К числу таких событий, безусловно, можно отнести  и чемпионаты по танково- му биатлону. 

                    p Экипаж уроженца Чунского района Геннадия Теряева стал сильнейшим на чемпионате 2014 года. В 2015 году наш земляк снова оказался в команде победителей: российский экипаж показал луч- шее время и стопроцентное огне- вое поражение. 

                    p Карьера военного началась у Геннадия с учебки в Забайкалье, где он получил военную специаль- ность «наводчик-оператор». Не первый год он служит по контракту в различных республиках Север- ного Кавказа (Дагестан, Осетия, Чечня). 

                    img(src='./img/content/material-item--1.png')

                    p Танковый биатлон развивается в России семимильными шагами. Позади три Одержав две победы на чем- пионатах мира по танковому би- атлону, Геннадий Теряев стал настоящей звездой. В интервью телеканалу ТВЦ  он сказал, что служить в танковых войсках одно удовольствие, а по-настоящему интересно исполнять свой воин- ский долг становится только тогда, когда подписываешь контракт: 

                    h2 В УСТЬ-КУТСКОМ РАЙОНЕ АРЕНДАТОРЫ ВАЖНЕЕ ЖИТЕЛЕЙ?
                    
                    p – Контрактная служба – это товарищество. Здесь есть люди старше меня  по возрасту, но мы как одна семья: общаемся, живем фактически вместе уже более пяти лет. А на «срочке» не так – пришел- ушел и все. 

                    p Мы связались с Геннадием по телефону. Плотный график служ- бы  не позволил нам как следует поговорить с чемпионом. Отметим лишь, что настроение у него хоро- шее. Геннадий поздравил земля- ков с предстоящим праздником 23 февраля, пожелал им здоровья и благополучия, подчеркнул важную роль танкового биатлона в повы- шении престижа российской армии и развитии военно-промышленного комплекса страны. Не исключено, что  в этом году он со своими дру- зьями по экипажу вновь испытает удачу на чемпионате мира. 

                .meta.mb--60
                    .color--gray.mb--4 Автор: <strong class="bold">Борис МИХАЙЛОВ </strong>
                    .color--gray Источник: <strong class="bold">http://yandex.ru/</strong>

        .title__h3 ЧИТАЙТЕ ТАКЖЕ
        -
            materials = [
                        {img: "./img/content/material-1.png", title: "Танковый биатлон Геннадия Теряева", cat: "ПОРТРЕТ"}, 
                        {img: "./img/content/material-2.png", title: "Откуда дровишки?", cat: "Острый вопрос"}, 
                        {img: "./img/content/material-3.png", title: "Как правильно рассчитать квитанцию на оплату ЖКХ", cat: "Закон"}]
        
        .carousel.mb--60
            .carousel__inner
                for i in [1,2,3]
                    .row
                        for i in materials
                            a(href='#').material-block__list-item
                                .material-block__list-item-cat= i.cat
                                .material-block__list-item-lead= i.title
                                .material-block__list-item-img
                                    img(src=i.img)