extends _layout

block content
    .container.mt--60
        .title__h1 БЛАГОТВОРИТЕЛЬНЫЙ ФОНД «СИБИРСКИЙ ХАРАКТЕР»

        .row.mb--20
            .col--15.shift--2
                .article
                    p В августе 2012 года на территории Октябрьского округа Иркутска официально начал свою работу фонд поддержки гражданских инициатив Андрея Чернышёва. Как говорит сам Андрей Владимирович: «Мы хотим поучаствовать в благотворительных акциях, которые связаны с инициативой людей, потому что в этом деле необходимо двустороннее движение».
                    p 
                        a(href='#') История фонда

        
        .title__h3 БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ
        .fund-block__grants
            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Поддержка ветеранов
                    .fund-block__grants-item-img
                        img(src='./img/grant--1.png')

            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Сохранение наследия
                    .fund-block__grants-item-img
                        img(src='./img/grant--2.png')

            a(href="#").fund-block__grants-item
                .fund-block__grants-item-inner
                    .fund-block__grants-item-title Именные стипендии
                    .fund-block__grants-item-img
                        img(src='./img/grant--3.png')


        .title__h3 Текущая деятельность фонда
        .carousel.mb--60
            .carousel__inner
                for i in [0,1,2]
                    .row
                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-1.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-2.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead В Братске появится новый автобусный маршрут
                        .col--8
                            a(href='#').news-block__item
                                .news-block__item-img
                                    img(src='./img/content/news-3.png')
                                .news-block__date 9 апреля, в 14:42
                                .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей