extends _layout

block content
    .indexlogo
        .container
            .row
                .col--18
                    .indexlogo__logo
                        .indexlogo__title <span class="indexlogo__title-siberia">«СИБИРСКИЙ</span> ХАРАКТЕР» 
                        .indexlogo__subtitle Благотворительный фонд Андрея Чернышёва

                .col--6
                    .indexlogo__social
                        .social
                            .social__title Мы в соцсетях:
                            .social__items
                                a(href='#').social__item.social__item--ok
                                a(href='#').social__item.social__item--vk
                                a(href='#').social__item.social__item--fb

                    .indexlogo__links
                        a(href='#').indexlogo__links-item Благотворительный фонд
                        a(href='#').indexlogo__links-item Контакты


    .news-block
        .container
            .title__h2.pull--left НОВОСТИ
            .selectbox.news-block__selectbox
                select.selectbox__input
                    option(value='', selected) Киренский и Катангский

            .clearfix

            .row
                .col--10
                    a(href="#").news-block__item.news-block__item--big
                        .news-block__item-img
                            img(src='./img/content/news-main.png')
                        .news-block__date 12 апреля, в 14:27
                        .news-block__lead Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт
                .col--1 &nbsp;
                .col--12
                    .news-block__list
                        -
                            news = [{date: "14:27", title: "Управляющая компания «ПКК» направит около 30 миллионов рублей на текущий ремонт"}, 
                                    {date: "11:27", title: "<span class='news-block__list-item--mark'>ФОНД</span> Братчане в этом месяце получат «платёжки» от Фонда капремонта", bold: true}, 
                                    {date: "12 апреля, в&nbsp;14:27", title: "Виновнице смертельного ДТП, дочери иркутского депутата Юлии Киселевой ужесточили наказание"}, 
                                    {date: "11 апреля, в&nbsp;14:27", title: "В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум"}, 
                                    {date: "10 апреля, в&nbsp;14:27", title: "18-летнего братчанина, обокравшего свою мать, приговорили к 2 годам лишения свободы условно"},
                                    {date: "11 апреля, в&nbsp;14:27", title: "В Братске на автостанции ограничат движение личного транспорта, установив шлагбаум"}]

                        for i in news
                            .news-block__list-item
                                .news-block__list-item-date.news-block__date!= i.date
                                a.news-block__list-item-content(href="#", class=i.bold ? 'news-block__list-item-content--bold' : '')!= i.title
            
            .row
                .col--8
                    a(href='#').news-block__item.news-block__item--noimage
                        .label.news-block__item-label ФОНД
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                .col--8
                    a(href='#').news-block__item
                        .label.news-block__item-label ФОНД
                        .news-block__item-img
                            img(src='./img/content/news-2.png')
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead В Братске появится новый автобусный маршрут
                .col--8
                    a(href='#').news-block__item
                        .label.news-block__item-label ФОНД
                        .news-block__item-img
                            img(src='./img/content/news-3.png')
                        .news-block__date 9 апреля, в 14:42
                        .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей

    .material-block
        .container
            .title__h2.title--white ГАЗЕТА «СИБИРСКИЙ ХАРАКТЕР»
            -
                materials = [
                            {img: "./img/content/material-1.png", title: "Танковый биатлон Геннадия Теряева", cat: "ПОРТРЕТ"}, 
                            {img: "./img/content/material-2.png", title: "Откуда дровишки?", cat: "Острый вопрос"}, 
                            {img: "./img/content/material-3.png", title: "Как правильно рассчитать квитанцию на оплату ЖКХ", cat: "Закон"}, 
                            {img: "./img/content/material-4.png", title: "Люди из проруби", cat: "Спорт"}, 
                            {img: "./img/content/material-5.png", title: "Автопарк от депутата", cat: "Отчет"}, 
                            {img: "./img/content/material-6.png", title: "Падение в космос. Братские встречи Бориса Волынова", cat: "Портрет"}]

            .material-block__list
                .row
                    a(href='#').material-block__list-item.material-block__list-item--fund
                        .material-block__list-item-cat Благотворительность
                        .material-block__list-item-logo
                            img(src='./img/fund-logo--2.png')

                        .material-block__list-item-title Благотворительный<br>фонд 
                        .material-block__list-item-mega «СИБИРСКИЙ ХАРАКТЕР»

                    for i in materials.slice(0, 2)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)
                .row
                    for i in materials.slice(2, 5)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)

                .row
                    for i in materials.slice(5)
                        a(href='#').material-block__list-item
                            .material-block__list-item-cat= i.cat
                            .material-block__list-item-lead= i.title
                            .material-block__list-item-img
                                img(src=i.img)

                    a(href='#').material-block__list-item.material-block__list-item--candidate
                        .material-block__list-item-inner
                            .material-block__list-item-img
                                img(src='./img/candidate-photo--1.png')
                            .material-block__list-item-title Андрей Владимирович Чернышёв
                            .material-block__list-item-subtitle Основатель фонда и газеты
                            .material-block__list-item-quote Для всех нас слово «патриотизм» имеет глубокий смысл. Наши предки на протяжении всей многовековой истории страны всегда были патри- отами. Это и есть то, что называется русскии характер, сибирскиий характер. 


    .destiny-block
        .container
            .carousel.destiny-block__carousel
                a(href='#').destiny-block__arrow
                .carousel__inner
                    for i in [1,2,3]
                        .destiny-block__item
                            .row
                                .col--7.shift--1
                                    .destiny-block__item-left
                                        .title__h2 Судьбы
                                .col--8
                                    a(href='#').destiny-block__item-img
                                        img(src='./img/content/destiny-1.png')
                                .col--8
                                    .destiny-block__item-right
                                        a(href='#')
                                            .title__h4 Сергей Владимирович Масляков
                                        p Ветеран ВОВ, вечетеран труда

    .fund-block
        .container
            .row
                .col--4
                    img(src="./img/fund-logo--1.png")
                .col--20
                    .title__h2.title--white БЛАГОТВОРИТЕЛЬНЫЙ<br> ФОНД<br> «СИБИРСКИЙ ХАРАКТЕР» 
            br
            .title__h3.title--opacity.title--white БЛАГОТВОРИТЕЛЬНЫЕ ГРАНТЫ
            .fund-block__grants
                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Поддержка ветеранов
                        .fund-block__grants-item-img
                            img(src='./img/grant--1.png')

                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Сохранение наследия
                        .fund-block__grants-item-img
                            img(src='./img/grant--2.png')

                a(href="#").fund-block__grants-item
                    .fund-block__grants-item-inner
                        .fund-block__grants-item-title Именные стипендии
                        .fund-block__grants-item-img
                            img(src='./img/grant--3.png')

            .title__h3.title--opacity.title--white Текущая деятельность фонда

            .carousel
                .carousel__inner
                    for i in [1,2,3]
                        .row
                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-1.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead С 4-го по 8 марта  в Братске и Братском районе будут выявлять нетрезвых водителей

                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-2.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead В Братске появится новый автобусный маршрут
                            .col--8
                                a(href='#').news-block__item.news-block__item--white
                                    .news-block__item-img
                                        img(src='./img/content/news-3.png')
                                    .news-block__date 9 апреля, в 14:42
                                    .news-block__lead Жители Братска  и Братского района снова перевели мошенникам  20 тысяч рублей
