extends _layout

block content
    .container.mt--60
        .title__h1.pull--left Новости

        .pull--right.mt--24
            label.mr--16 Район:
            .selectbox
                select.selectbox__input
                    option(value='', selected) Киренский и Катангский
        .clearfix


        .paging
            a(href='#').paging__item.paging__item--active 1
            a(href='#').paging__item 2
            a(href='#').paging__item 3
            a(href='#').paging__item 4
            a(href='#').paging__item →