extends _layout

block content
    .destiny.mt--60
        .container
            .title__h1.title--margin-20.align--center Судьбы
            .row.mb--24
                .col--24
                    img(src='./img/content/destiny-item--1.png').destiny__img

                    a(href='#').destiny__prev ← Виктор Николаевич
                    a(href='#').destiny__next Гросс Андрей Иванович →
                    .destiny__actual.title__h3 ФУКАЛОВ ГЕННАДИЙ АЛЕКСАНДРОВИЧ

            .row
                .col--20.shift--2
                    .article
                        p Ну, что тебе рассказать... Отец мой был 1887 года рождения, и когда вернулся с Гражданской войны, женился на какой-то женщине. Но после родов она умерла, и отец остался вдовцом  с маленьким ребёнком на руках. Тогда отец женился на моей маме. Она была сирота, воспитывалась тётками, и когда ей исполнилось 20 лет, её выдали замуж. Первым родился  я и за мной ещё пятеро.

                        p Семья у нас крестьянская, и когда в 1929-м году началась коллективизация, отца решили назначить бригадиром в колхозе. Как-то он рассказывал: «Прихожу на работу, а один не пришёл, мол, не могу. Другой тоже не может, третий якобы заболел. Хорошая погода стоит, работать надо, а людей нет… Да ещё всех лошадей забрали на конный двор, коров на ферму. Я посмотрел на всё это и подумал - нет, я здесь со своими пацанами погибну…» Тогда отец устроился на железную дорогу, и 27 лет там отработал. Прожил 71 год и умер. Как сказала мама: «Напрочь износился…» А мама прожила 90 лет, а я и того больше. Никогда бы не подумал, что столько проживу…

        .form
            .container
                .title__h3.align--center РАССКАЗАТЬ СВОЮ ИСТОРИЮ
                .article.align--center.italic
                    p Люди, которые возводили заводы и города в глухой тайге, приезжали по комсомольским путевкам на строительство БАМа, все те, кто прошел палатки и бараки, оставив нам благоустроенные города и поселки – они не должны быть забыты. Наш фонд просит всех, кому дорога память о наших ветеранах с истинно сибирским характером, добавлять в галерею новые имена и судьбы.
                .row
                    .col--11
                        .input
                            label.input__label(for='name') Ваше имя:
                            input.input__text(type='text')

                    .col--1 &nbsp;
                    .col--12
                        .input
                            label.input__label(for='name') Почта для обратной связи
                            input.input__text(type='email')
                                
                .row
                    .col--11
                        .input
                            label.input__label(for='name') Про кого история?
                            input.input__text(type='text')

                    .col--1 &nbsp;
                    .col--11
                        .input
                            label.input__label(for='name') Приложите фотографию:
                            .input__file Выбрать файл
                                input.input__file-input(type='file')
                                
                .row
                    .col--24
                        .input
                            label.input__label(for='name') Расскажите историю:
                            textarea.input__textarea(rows=7)

                        button.input__button Отправить