@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800')
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700')

@import 'jeet'
@import 'nib'

@import 'libs/normalize'
@import 'libs/common'

@import 'blocks/*'
@import 'libs/transitions'
@import 'libs/lightgallery'


// base
body
  min-width 1000px
  font-size 16px
  font-family 'Open Sans', sans-serif
  
a
  color $color-blue
  text-decoration none
  transition all .2s
  
  &:hover
    color darken($color-blue, 30%)
    

.black_bg
  background $color-dark
  
.article
  margin 0 0 40px
  font-family 'PT Serif', serif
  font-size 18px
  line-height 26px
  
  p
    margin-bottom 20px
    
  img
    margin-bottom 20px
    
  h2
    font-family 'Open Sans', sans-serif
    margin 40px 0 20px
    font-size 34px
    line-height 40px
    color $color-title
    text-transform uppercase
    font-weight 700
    
  h3
    font-family 'Open Sans', sans-serif
    margin 0px 0 10px
    font-size 22px
    line-height 24px
    font-weight 700
    
  .rich-text
    .richtext-image
      &.full-width
        margin 0 0 20px
        max-width 100%
        height 100%
        
      &.left
        width auto
        float left
        margin 0 30px 10px -8.334%
      
      &.right
        width auto
        float right
        margin 0 -8.334% 10px 30px


.rouble-sign
  position relative
  display inline-block
  line-height 1
  vertical-align baseline
  
.rouble-sign:after
  content '–'
  position absolute
  top 11%
  left 0
  
.rouble-sign:before
  content '-'
  font-size 0.9em
  position absolute
  top 3%
  

.a-center
  text-align center
  
for i in (-56 -48 -40 -32 -24 -16 -8 -4 0 4 8 16 24 32 40 48 56)
  .mb--{i}
    margin-bottom i + 0px

  .mt--{i}
    margin-top i + 0px

  .ml--{i}
    margin-left i + 0px

  .mr--{i}
    margin-right i + 0px

  .pb--{i}
    padding-bottom i + 0px

  .pt--{i}
    padding-top i + 0px

  .pl--{i}
    padding-left i + 0px

  .pr--{i}
    padding-right i + 0px



.form
  background #F3F3F3
  padding 60px 0