.button
	background $color-red
	font-weight 500
	font-size 16px
	line-height 16px
	text-align center
	border 0
	color #fff
	padding 12px 30px
	border-radius 2px
	display inline-block
	vertical-align middle
	
	&:hover
		background lighten($color-red, 10%)
		color #fff
		
	&:active
		background darken($color-red, 10%)
		box-shadow inset 0 2px 3px rgba(0,0,0, .3)
		color #fff