.carousel,
.owl-controls
	position relative
	
	&__points,
	.owl-pagination
		display block
		text-align center
		margin 20px 0 0
		
		&-item,
		.owl-page
			display inline-block
			height 15px
			width 15px
			background alpha(#595959, 20%)
			border-radius 15px
			cursor pointer
			margin 0 4px
			transition all .3s
			
			&--active,
			&.active
				background alpha(#595959, 80%)
				
			&:hover
				transform scale(1.2)