.destiny
	&__img
		width 100%
		height 100%
		margin-bottom 20px
		grayscale-img()
		
		&:hover
			colored-img()

	&__next,
	&__prev
		margin-top 20px
		color $color-green
		
	&__prev
		float left
	
	&__next
		float right

	&__actual
		width 70%
		margin-left 15%
		text-align center