.destiny-block
	background alpha(#F3F3F3, 90%)
	padding 30px 0
	
	&__inner
		position relative
		
	&__item
		position relative
		
		&-left
			margin-top 110px
			
		&-right
			margin-top 90px
		
		&-img
			display block
			text-align center
			
			& > img
				width 100%
				height 100%
				border-radius 400px
				object-fit cover
			
	&__arrow
		z-index 5
		cursor pointer
		position absolute
		right 100px
		top 50%
		margin-top -32px
		display block
		height 64px
		width 32px
		background url('../img/arrow-right.png') no-repeat center center
		background-size cover
		transition all .2s
		
		&:hover
			transform translateY(-4%)