.footer
	background $color-dark
	color #fff
	padding 60px 0
	
	&__fund
		&-title
			text-transform uppercase
			font-size 28px
			font-weight 700
			line-height 38px
			margin-bottom 8px
			
			&-mini
				line-height 15px
				font-size 12px
			
		&-items
			&-item
				margin-right 16px
		
	&__founder
		transition all .2s
		
		&:hover
			opacity .8
			
		&-photo
			float left
			margin-right 16px
			border-radius 100px
			
			& > img
				border-radius 100px
		
		&-name
			font-size 16px
			margin-top 18px
			font-weight 700
		
		&-subtitle
			color #fff
		
	&__copyright
		margin-bottom 12px
		margin-left -6px

	&__organization
		font-size 12px 
		color #969897
		margin 0 0 8px
	
	&__splitter
		margin 40px 0
		line-height 0
		font-size 0
		border-top 1px solid #383C3B
	
	&__menu
		line-height 30px
		
		&-item
			&-link
				color #fff
	
	&__title
		font-size 16px
		font-weight 700
		color #969897
		margin-bottom 6px