.fund-block
	background $color-green url('../img/fund-bg.png') no-repeat
	background-size cover
	padding 40px 0 0px 

	&__grants
		cf()
		margin-bottom 60px
		position relative
		
		&-item
			col(7/24, gutter: 1, offset: 1/24)
			text-align center
			
			&:first-child
				col(7/24, gutter: 1)

			&-inner
				position relative
				border-radius 4000px
				overflow hidden
				width 100%
				height 100%
				
				&:after
					content ''
					display block
					width 100%
					height 140px
					bottom 0
					background linear-gradient(top, alpha(black, 0%), alpha(black, 90%))
					position absolute
				
			&-title
				text-align center
				color #fff
				position absolute
				width 60%
				margin-left 20%
				bottom 30px
				z-index 10
				font-size 22px
				font-weight 700
				
			&-img
				width 100%
				height 100%
				
				& > img
					width 100%
					height 100%
					object-fit cover