.gallery
	&__img
		vertical-align bottom
		padding 3px
		
	&__item
		position relative
		cursor pointer
		
		&-hover
			opacity 0
			position absolute
			text-align center
			height 100%
			width 100%
			min-height 200px
			background rgba(0,0,0, 0.8)
			color #fff
			font-size 16px
			vertical-align middle
			transition all .2s
			
		&-voted
			display block
			position relative
			margin-top 50px
			margin-bottom 8px
			font-weight 700
			
		&-zoom
			right 24px
			top 24px
			position absolute
			height 24px
			width 24px
			display inline-block
			background url('../img/zoom.png') no-repeat
			cursor pointer
			transition all .2s
			
			&:hover
				transform scale(1.1)

		&-vote
			position relative
			height 45px
			display inline-block
			background url('../img/gallery-vote.png') no-repeat
			padding-left 55px
			line-height 55px
			color #fff
			margin-top 50px
			margin-bottom 20px
			transition all .3s
			cursor pointer
			
			&:hover
				opacity .7