.header
	background $color-green
	height 50px
	line-height 50px
	color #fff
	margin-bottom 50px
	
	.container
		position relative

	&__logo
		font-size 14px
		font-weight 800
		width 120px
		line-height 13px
		margin 12px 0
		float left
		width 120px

		&-link
			color #fff
			
			&-siberia
				font-size 11px
				
			&:hover
				color lighten($color-green, 80%)
	
	&__menu
		text-align center
		
		&-item
			display inline-block
			margin-right 20px
			
			&:last-child
				margin-right 0
			
			&-link
				color #fff
				
				&:hover
					color lighten($color-green, 70%)
					
			&--active
				color #4A6258
				
				&:after
					content ''
					display block
					position relative
					bottom 6px
					margin-left 50%
					left -3px
					margin-bottom -6px
					width 0 
					height 0
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					
					border-bottom: 6px solid #fff;
				
				.header__menu-item-link
					color #4A6258
				
					
		&-subitems
			position absolute
			left 0
			width 100%
			text-align center
			
			&-item
				margin-right 20px
				color $color-green
				
				&:last-child
					margin-right 30px
					
				&--active
					color #000

	&__search
		float right
		
		&-input
			height 30px
			line-height 30px
			margin 5px 0
			background transparent
			border none
			font-size 16px
			padding 5px 10px
			margin-right -50px
			z-index 5
			transition all .3s
			color #fff
			
			&:active,
			&:focus
				outline 0px
				background alpha(#fff, .2)

			+placeholder()
				color lighten($color-green, 60%)
		&-icon
			cursor pointer
			float right
			width 50px
			height 50px
			z-index 10
			position relative
			background url('../img/icon--search.png') no-repeat center center

