.indexlogo
    position relative
    margin-top -20px

    &__logo
        margin 0px 0 30px

    &__title
        font-size 50px
        font-weight 800
        line-height 40px
        color #144832
        margin-bottom 10px
        
        &-siberia
            display block
            color $color-green
            font-size 40px
            position relative
    
    &__subtitle
        font-size 13px
        font-weight 700
        color #000
        
    &__social
        margin-top 30px
        margin-bottom 25px

    &__links
        line-height 30px
        
        &-item
            display block