.list
	margin 0 0 20px
	padding 0
	list-style none
	&__item
		margin-bottom 4px
		padding-left 28px
		position relative
		
		&:before
			font-weight 0
			content '—'
			display inline
			position absolute
			left 0
			top 0px
			
	
	&--contest
		color #fff
		font-size 22px
		font-weight 500
		list-style none
		margin 0 0 20px
		padding 0
		
		.list__item
			margin-bottom 4px
			padding-left 40px
			position relative
			
			&:before
				font-weight 0
				content '—'
				display inline
				position absolute
				left 0
				top 0px
				
			&--bold
				color #B65D4C
				font-size 44px
				font-weight 700