$material-height = 230px
$candidate-height = 360px

.material-block
	background $color-dark
	padding 60px 0
	
	&__list
		cf()
		
		&-item
			height $material-height
			column(1/4, gutter: 2)
			overflow hidden
			position relative
			margin-bottom 2%
			background #000
			border-radius 3px
			
			&:before
				content ''
				display table
				position absolute
				height 180px
				width 101%
				bottom 0
				z-index 1
				background linear-gradient(top, alpha(black, 0%), alpha(black, 90%))

			&-img
				position relative
				z-index 0
				& > img
					position absolute
					object-fit cover
					width 100%
					height $material-height
					transition all .2s
			
			&-lead,
			&-cat
				position absolute
				color #fff
				z-index 2

			&-lead
				bottom 20px
				left 25px
				font-size 16px
				color #fff
				font-weight 700
				
			&-cat
				top 15px
				right 15px
				background #B65D4C
				font-size 12px
				padding 3px 8px
				text-transform uppercase
			
			&:hover
				color #fff
				transform scale(1.05)
				.material-block__list-item-lead
					opacity .8
					
				
			&--fund
				background $color-green
				color #fff
				
				&:before
					background none
					
				.material-block__list-item
					&-logo
						width 80px
						margin 30px 0 -10px 25px
					
					&-title
						position relative
						font-size 16px
						font-weight 700
						margin-left 25px
						margin-bottom 00px
						z-index 3
					
					&-mega
						position relative
						font-weight 700
						font-size 30px
						margin-left 25px
						line-height 40px
						z-index 3
				
				&:hover
					color #fff
					.material-block__list-item
						&-title,
						&-mega
							color #fff
							opacity .7
					
				
			&--candidate
				
				
				min-height $candidate-height
				height auto
				column(2/4, gutter: 2)
				background #4CACB6
				z-index 10
				
				.material-block__list-item-inner
					background #4CACB6
					height 100%
					
				&:before
					background none
				
				&:after
					transition all .4s

				.material-block__list-item
					&-img
						width 50%
						height 100%
						float left
						
						& > img
							height 100%
							
					
					&-title
						font-size 22px
						font-weight 700
						margin-left 25px
						padding-top 20px
						
					&-subtitle
						margin-bottom 20px

					&-quote
						font-size 15px
						font-style italic
						position relative
						padding-left 20px
						padding-right 20px
						padding-bottom 20px
						
						&:before
							content ''
							position absolute
							left -50px
							top 0
							width 48px
							height 35px
							background url('../img/quote.png') no-repeat

					&-title,
					&-subtitle,
					&-quote
						margin-left 53%
						color #fff
						position relative
						z-index 4
						
				&:hover
					transform none
					
					// &:after
					// 	content ''
					// 	width 90%
					// 	height 100%
					// 	margin-left 5%
					// 	top 0
					// 	position absolute
					// 	z-index -1
					// 	box-shadow 0 20px 50px alpha(#000, 50%)
						
					// .material-block__list-item
					// 	&-img
					// 		& > img
					// 			width 100%
					// 			height 100%
					// 			opacity 1