.paging
	font-size 22px
	font-weight 600
	margin 20px 0 60px
	
	&__item
		display inline-block
		padding 6px 16px
		color $color-green
		
		&:hover
			color darken($color-green, 20%)
			
		&--active
			background $color-green
			color #fff
			
			&:hover
				color #fff