.person
	margin 60px 0
	
	&__quote
		font-size 28px
		font-family 'PT Serif', serif
		font-style italic
		padding-left 100px
		position relative
		margin-top 40px
		
		&:before
			content ''
			width 64px
			height 46px
			display block
			position absolute
			left 8px
			top -10px
			background url('../img/quote--2.png') no-repeat

	&__img
		width 100%
		height 350px
		object-fit cover
		
	&__name
		margin-bottom 0 !important
		
	&__post
		margin -0px 0 40px