.selectbox
	position relative
	display inline-block
	
	&:after
		content ''
		display block
		position absolute
		right 10px
		top 18px
			
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		
		border-top: 5px solid #fff;
		
	&__input
		width 100%
		height 40px
		border 0
		background $color-green
		color #fff
		appearance none
		font-size 16px
		border-radius 0
		padding 0 40px 0 20px

	&--w200
		width 200px