.social
	margin 4px 0
	&__title
		color #ccc
		font-weight 600
		margin-bottom 6px
		
	&__items
		display block
		
	&__item
		width 28px
		height 28px
		display inline-block
		background center center no-repeat
		margin-right 8px
		transition all .3s
		
		&--ok
			background-image url('../img/social--ok.png')
			
		&--vk
			background-image url('../img/social--vk.png')
			
		&--fb
			background-image url('../img/social--fb.png')
			
		&:hover 
			transform translateY(-5%)