.title
	&__h1
		font-size 64px
		line-height 70px
		color $color-title
		margin-bottom 50px
		text-transform uppercase
		font-weight 700
		
		& > a
			color $color-title
			&:hover
				color $color-title

		&--big
			font-size 74px
			line-height 60px
			margin-bottom 70px
			
		small
			font-size 44px
			text-transform none

	&__h2
		margin-bottom 25px
		font-size 42px
		line-height 44px
		color $color-title
		text-transform uppercase
		font-weight 700
		
		& > a
			color $color-title
			&:hover
				color $color-title
		
	&__h3
		margin-bottom 20px
		font-size 28px
		line-height 30px
		color $color-title
		text-transform uppercase
		font-weight 700
		
		&--noupper
			text-transform none
		& > a
			color $color-title
			&:hover
				color $color-title
			

	&__h4
		margin-bottom 20px
		font-size 22px
		line-height 30px
		color $color-title
		font-weight 700		
				
	&--plate
		color #fff
		background $color-green
		display inline-block
		padding 4px 8px
		
		a
			color #fff
			&:hover
				color #fff
		&:hover
			background darken($color-green, 20%)
			
	&--green
		color $color-green

	&--nomargin
		margin 0
		
	&--margin-20
		margin 0 0 20px

	&--white 
		color #fff
		
		& > a
			color #fff
			&:hover
				color #fff
		
	&--opacity 
		opacity .5